// Place all the styles related to the RecipesController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table { border-collapse: collapse; }

tr { border: 2px; }

td { padding: 12px; }

.even { background-color: #D6E1C3; }

p { font-size: 26px; }